body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}

#tutorial {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 1rem;
  color: white;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  background-color: #641daa;
}

#tutorial:hover {
  color: black;
  background-color: #a976dd;
}

input {
  padding: 1rem;
  color: white;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  background-color: #7f53ac;
}

/* placeholder text color needed to contrast better against background */
::placeholder {
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.card {
  display: flex;
  margin: 3rem;
  padding: 2rem;
  max-width: 800px;
  color: white;
  border-radius: 1rem;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #6f35aa 0%, #4261eb 74%);
  animation: slide-up 0.4s ease;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#imgContainer img {
  height: 5rem;
  margin: 1.5rem 1.5rem 1.5rem 0;
  border: 0.25rem solid #5b2f88;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px rgba(111, 53, 170, 0.5);
}

#imgContainer img:hover {
  box-shadow: 0px 0px 15px 10px rgba(112, 53, 170, 0.603);
}

#nameLink {
  display: inline-block;
  color: inherit;
  text-decoration: inherit;
}

#nameLink:hover {
  color: #5b2f88;
}

#infoContainer h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

#infoContainer #bio {
  margin-top: 1rem;
}

ul {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  margin: 1rem 0 1rem 0;
  list-style-type: none;
}

li {
  display: flex;
}

li p {
  margin: 0 1.25rem 0 0.6rem;
  font-weight: bold;
}

.repoLink {
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.3rem 0.5rem;
  background-color: #421b688e;
  color: white;
  border-radius: 0.25rem;
  font-size: 0.7rem;
  text-decoration: none;
}

.repoLink:hover {
  color: white;
  background-color: #723ca8af;
}

#repoContainer {
  opacity: 0;
  animation: slide-up 1s ease 0.5s forwards;
}

.barDecoration {
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #f2f2f2;
  box-shadow: inset 0px 0px 15px 3px #23395e;
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #2e466e;
  border: 1px solid #1f2f47;
}

footer {
  position: absolute;
  bottom: 0;
}

footer p {
  padding: 0.5rem;
}

#iconContainer {
  position: absolute;
  top: 15%;
  right: 0.25rem;
}

#linkedinLogo,
#githubLogo {
  height: 1.5rem;
  margin: 0 3px 0 3px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .card {
    display: block;
    text-align: center;
  }

  img {
    margin: auto;
    margin-bottom: 1.5rem;
  }

  #infoContainer {
    text-align: center;
  }

  ul {
    justify-content: center;
    max-width: none;
  }

  #tutorial {
    top: auto;
    right: auto;
    bottom: 20px;
  }
}

@media only screen and (max-width: 550px) {
  input {
    padding: 0.9rem;
  }

  .card {
    padding: 1.5rem;
  }

  #infoContainer h2 {
    font-size: 1rem;
  }

  #infoContainer #bio,
  li {
    font-size: 0.9rem;
  }

  .repoLink {
    margin: 0 0.3rem 0.3rem 0;
    padding: 0.2rem 0.3rem;
    font-size: 0.6rem;
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: not-allowed;
}

#card {
  position: absolute;
  z-index: 3;
  top: 20%;
  left: 50%;
  width: 400px;
  cursor: not-allowed;
  animation: slide-up 0.4s ease;
}

#innerCard {
  position: relative;
  text-align: center;
  left: -50%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  cursor: default;
}

#innerCard h2 {
  margin-bottom: 1rem;
  font-size: xx-large;
}

#innerCard p {
  text-align: left;
  line-height: 1.4;
  font-size: medium;
}

#closeButton {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  border-radius: 0.25rem;
  font-size: larger;
  background-color: grey;
}

#closeButton:hover {
  background-color: rgb(199, 199, 199);
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
